{% extends "base.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<h1 class="display-4">Contact Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#EL">English</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#MA">Math</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#SC">Science</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="EL">
    <br>
    <h2>English Tutors</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Chai Min Shiung</td>
          <td>English Module Leader</td>
          <td><a href="mailto:chai_min_shiung@nyp.edu.sg">chai_min_shiung@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Loo Kit Fan</td>
          <td>English Module Tutor</td>
          <td><a href="mailto:loo_kit_fan@nyp.edu.sg">loo_kit_fan@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Andrea Chua</td>
          <td>English Module Tutor</td>
          <td><a href="mailto:andrea_chua@nyp.edu.sg">andrea_chua@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>English Module Tutor</td>
          <td><a href="mailto:TAN_SEW_LAN@myaccount.nyp.edu.sg">TAN_SEW_LAN@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Charissa Chua</td>
          <td>English Module Tutor</td>
          <td><a href="mailto:charissachua@hotmail.com">charissachua@hotmail.com</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="tab-pane container-fluid fade" id="MA">
    <br>
    <h2>Math Tutors</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Alvin Tay</td>
          <td>Math Module Leader</td>
          <td><a href="mailto:alvin_tay@nyp.edu.sg">alvin_tay@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Verawaty</td>
          <td>Math Module Tutor</td>
          <td><a href="mailto:verawaty@nyp.edu.sg">verawaty@nyp.edu.sg</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tab-pane container-fluid fade" id="SC">
    <br>
    <h2>Science Tutors</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Ms. Andrea Tan</td>
          <td>Science Module Leader</td>
          <td><a href="mailto:andrea_tan@nyp.edu.sg">andrea_tan@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>Science Module Tutor</td>
          <td><a href="mailto:TAN_SEW_LAN@myaccount.nyp.edu.sg">TAN_SEW_LAN@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Teh Ah Hock</td>
          <td>Science Module Tutor</td>
          <td><a href="mailto:teh_ah_hock@nyp.edu.sg">teh_ah_hock@nyp.edu.sg</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
